.box {
  border: solid black 0.5rem;
  position: relative;
  background-color: gray;
  flex-basis: 8rem;
}

.box__hotkey {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  color: white;
}

.box__image {
    width: 100%;
}
